name: Build

on:
  push:
    branches:
      - 'master'
    tags:
      - '*'
    paths-ignore:
      - '*.md'

jobs:
  check:
    uses: ./.github/workflows/check.yml
  build:
    needs: check
    uses: ./.github/workflows/build.yml
  build_wasm:
    needs: check
    uses: ./.github/workflows/build-wasm.yml
